<slr-table>
  <slr-table-header>
    <div class="name">
      FullName
    </div>
    <div class="gender">
      Gender
    </div>
    <div class="party">
      Party
    </div>
    <div class="state">
      State
    </div>
  </slr-table-header>
  <slr-table-row
   *ngFor="let member of congressMembersList; trackBy: trackByCongress"
   [element]="member"
   (elementSelected)="memberClicked($event)"
  >
    <div class="name">
      {{member.first_name}} {{member.middle_name}} {{member.last_name}}
    </div>
    <div class="gender">
      {{member.gender}}
    </div>
    <div class="party">
      {{member.party}}
    </div>
    <div class="state">
      {{member.state}}
    </div>
  </slr-table-row>
</slr-table>
